/* trabalhos.php */
.jobs-section {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.jobs-section .new-job {
  flex: auto;
  background-color: var(--purple);
  color: var(--af-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 300px;
  padding: 0 1em;
  border-radius: 1em;
  transition: 0.3s;
  cursor: pointer;
  overflow: hidden;
}
.jobs-section .new-job:hover {
  transform: scale(1.04);
}
.jobs-section .new-job > i {
  font-size: 7em;
}
.jobs-section .new-job > p {
  font-size: 1.125em;
}
.jobs-section .job {
  position: relative;
  justify-content: flex-start;
  padding: 2em;
}
.jobs-section .job .desc {
  max-width: 100%;
  word-wrap: break-word;
}
.jobs-section .job .job-buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  gap: 6px;
  background-color: var(--black-blue);
  justify-content: space-between;
  border-top: 6px solid var(--black-blue);
}
.jobs-section .job .job-buttons > button {
  width: 50%;
  cursor: pointer;
  padding: 1em 0;
  background-color: var(--purple);
  color: var(--af-white);
  font-size: 1.125em;
  transition: 0.3s;
  outline: none;
}

.edit-wrapper {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1001;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.edit-wrapper.active {
  display: flex;
}
.edit-wrapper.active .edit-box {
  overflow: hidden;
  position: relative;
  background-color: var(--black-blue);
  border-radius: 1.5em;
  padding: 2em;
  display: flex;
  gap: 2em;
  flex-direction: column;
  box-shadow: 0px 0px 20px 10px rgba(25, 1, 63, 0.4);
}
.edit-wrapper.active .edit-box .close-login-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--purple);
  border-bottom-left-radius: 1.5em;
  cursor: pointer;
}
.edit-wrapper.active .edit-box .close-login-wrapper > i {
  font-size: 2.75em;
}

/* novo-trabalho.php */
#jobs-register {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.title {
  flex-direction: row;
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}
.input-box > label {
  color: var(--purple);
  font-size: 1.25em;
  font-weight: 600;
}
.input-box > input {
  background-color: transparent !important;
  border: 2px solid var(--purple);
  color: var(--af-white);
  border-radius: 1em;
  outline: none;
  font-size: 1.125em;
  font-weight: 600;
  width: 17em;
  padding: 0.25em 0.5em 0.25em 1em;
}
.input-box > input::-moz-placeholder {
  color: var(--placeholder-purple);
  font-weight: 500;
}
.input-box > input::placeholder {
  color: var(--placeholder-purple);
  font-weight: 500;
}
.input-box > textarea {
  background-color: transparent !important;
  border: 2px solid var(--purple);
  border-radius: 1em;
  color: var(--af-white);
  outline: none;
  font-size: 1.125em;
  font-weight: 600;
  padding: 0.25em 0.5em 0.25em 1em;
  resize: none;
}
.input-box > textarea::-moz-placeholder {
  color: var(--placeholder-purple);
  font-weight: 500;
}
.input-box > textarea::placeholder {
  color: var(--placeholder-purple);
  font-weight: 500;
}
.input-box > select {
  background-color: transparent !important;
  border: 2px solid var(--purple);
  border-radius: 1em;
  color: var(--purple);
  outline: none;
  font-size: 1.125em;
  font-weight: 600;
  padding: 0.25em 0.5em 0.25em 1em;
}
.input-box > select > option {
  background-color: var(--black-blue);
}

.button-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}
.button-box > button {
  width: 100%;
  background-color: transparent;
  color: var(--purple);
  border: 2px solid var(--purple);
  border-radius: 2em;
  padding: 0.5em 0;
  font-size: 1.25em;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}
.button-box > button:hover {
  background-color: var(--purple);
  color: var(--black-blue);
}
.button-box > .terms > input {
  accent-color: var(--purple);
}
.button-box > .terms > label > a {
  color: var(--purple);
}
.button-box > .terms > label > a:hover {
  text-decoration: underline;
}

body.light .button-box > button:hover {
  color: var(--af-white);
}
body.light select > option {
  background-color: var(--af-white);
}
body.light textarea {
  color: var(--purple);
}
body.light .new-job {
  background-color: var(--black-blue);
  color: var(--af-white);
}
body.light .job-buttons {
  background-color: var(--af-white) !important;
  border-top: 6px solid var(--af-white) !important;
}
body.light .job-buttons > button {
  background-color: var(--black-blue) !important;
}