main {
  background-color: var(--responsive-bgcolor);
  box-shadow: var(--responsive-boxshadow);
  margin-top: 2em;
}
main p {
  font-size: 1.25em;
}
main .group {
  display: flex;
  flex-direction: column;
}
main .group-row {
  display: flex;
  flex-direction: row;
}
main .group-row-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--responsive-bgcolor);
  box-shadow: var(--responsive-boxshadow);
  width: 100%;
  height: 20em;
  gap: 0.25em;
  border-radius: 3em;
  margin: 1em;
}
main .group-row-item img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  box-shadow: var(--responsive-boxshadow);
}